@media only screen and (min-width: 992px) {

    header {
        height: 712px;
    }
    
    .logo:hover {
        text-decoration: underline;
    }

    .burger__wrapper:hover {
        cursor: pointer;
    }

    .portfolio a button:hover {
        background-color: var(--button-color);
        color: var(--white-color);
        transition: background 0.6s ease-in;
    }

    .picture__section {
        gap: 2.5rem;
    }

    .picture__section div {
        position: relative;
        overflow: hidden;
    }

    .picture__section img {
        max-width: 100%;
        transition: all 0.3s;
        display: block;
        width: 100%;
        height: auto;
        transform: scale(1);
    }
    
    .picture__section:hover img {
        transform: scale(1.1);
    }

    .picture__section div:hover {
        background-color: var(--image-color);
        position: relative;
        
    }
    
    .picture__section img:hover {
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index: -1;
        
    }
    
    .picture__section:hover button {
        opacity: 1;
    }

    .picture__section button:hover {
        background-color: var(--white-color);
        color: var(--font-color-gray);
    }

    /* Black transparent background on section (services, free__quote and contact) */

    .services, .contact {
        align-items: center;
    }
    
    .black__transparent__bg {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
    }

    .services__background {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .examples article a:hover {
        text-decoration: underline;
    }

    .testimonials__personal {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .free__qoute {
        justify-content: center;
    }

    .free__qoute__bg button:hover, .input__button:hover {
        background-color: var(--white-color);
        color: var(--font-color-gray);
        opacity: 0.8;
        transition-delay: 0.1s;
    }

}