@media only screen and (min-width: 768px) {

/* Bigger Font-Size */

html {
    font-size: 18px;
}
.services, .free__qoute, .contact {
    background-attachment: fixed;
}

.services__content img {
    width: 50px;
    height: 50px;
}

    /* Section 2 with 6 images, each with a button in the center of the image  */

.picture__section {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; 
    margin-bottom: 6.25rem;
    height: auto;
}

.picture__section div {
    background-color: transparent;
    width: 30%;
}

.picture__section button {
    opacity: 0;
}

/* Section 5: examples with flex. Examples consisting of an image, h2, date, description and a link for more information */

.examples {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0.94rem;
    margin-bottom: 6.25rem;
}

.examples article {
    width: 30%;
}

.examples img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 3.13rem;
}

}
