/* Global Styling */

@font-face {
    font-family: 'Alegreya-Regular';
    src: url('../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf');
    font-family: 'Alegreya-Bold';
    src: url('../fonts/Alegreya_SC/AlegreyaSC-Bold.ttf');
    font-family: 'Nixie-Regular';
    src: url('../fonts/NixieOne-Regular.ttf');
    font-family: 'Alegreya-Sans-Medium';
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}



:root {
    --white-color: white;
    --font-color-green: rgba(58, 79, 82, 1);
    --font-color-gray: rgba(106, 106, 106, 1);
    --button-color: rgba(58, 79, 82, 1);
    --image-color: rgba(2, 56, 58, 0.7);
    --image-color-black: rgba(0, 0, 0, 0.2);
    --small-button-color: rgba(77, 167, 202, 1);
    --footer-background: rgba(43, 62, 81, 1);
}

html {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 320px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    border: 1px solid black;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 447px;
    flex-shrink: 0;
    padding: 20px 30px;
    background-image: url('../img/0f6f55ffff18a259b1383b2fd9d785aa.png');
    background-size: cover;
    background-position: contain;
    background-repeat: no-repeat;
    gap: 99.4px;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: 'Alegreya-Regular';
    font-weight: bolder;
}

.burger__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger{
    height: 2px;
    width: 24px;
    background-color: var(--white-color);
    margin: 2px;
    border-radius: 5px;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    color: var(--white-color);
}

.landing-page h1 {
    font-family: 'Nixie-Regular';
    font-size: 39px;
    font-weight: lighter;
}

.landing-page p {
    font-family: 'Alegreya-Regular';
    font-size: 16px;
    font-weight: 400;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.portfolio {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 50px 0;
}

.portfolio div h2 {
    font-family: 'Alegreya-Sans-Medium';
    color: var(--font-color-green);
    font-size: 36px;
    font-weight: 100;
}

.portfolio div p {
    font-family: Helvetica, sans-serif;
    color: var(--font-color-gray);
    font-size: 16px;
}

.portfolio a button {
    background-color: transparent;
    padding: 7px 10px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: var(--button-color);
    border: 1px solid var(--button-color);
}

.portfolio a {
    margin: -15px 0 0 -30px;
}

.picture__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0 5px;
    margin-bottom: 100px;
}

.picture__section div {
    background-color: var(--image-color);
    height: 203px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture__section img {
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.picture__section button {
    padding: 7px 10px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    margin-left: -220px;
    cursor: pointer;
}

.services {
    background-image: url('../img/8d72e0af708f1d83a868ba81ee657811.png');
}

.services, .free__qoute {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    flex-shrink: 0;
}

.services__background, .free__qoute__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: rgba(128, 128, 128, 0.354);
    padding: 5px 35px;
    text-align: center;
}

.services__background div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
}

.services__background div img {
    width: 50px;
    height: 50px;
}

.services__headline {
    margin-top: 20px;
    margin-bottom: 30px;
}

.services__headline h2 {
    font-family: 'Alegreya-Sans-Medium';
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 4px;
}

.services__content {
    margin-bottom: 20px;
}

.services__content h3 {
    font-family: 'Alegreya-Sans-Medium';
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 5px;
}

.services__content p {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
}

.examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    margin-bottom: 100px;
}

.examples img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 50px;
}

.examples h2 {
    font-family: 'Alegreya-Sans-Medium';
    font-size: 30px;
    color: var(--font-color-green);
    font-weight: 100;
    margin: 20px 0;
}

.examples p {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: var(--font-color-gray);
    margin-bottom: 20px;
}

.date {
    font-style: italic;
}

.examples article a {
    color: var(--small-button-color);
}

.free__qoute {
    background-image: url('../img/6f4d0914c7b5ddb743f600df2edc50bf.png');
}

.free__qoute__background {
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.free__qoute__background p {
    color: var(--white-color);
    font-size: 36px;
    font-family: 'Alegreya-Sans-Medium';
}

.free__qoute__background button {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    cursor: pointer;
    font-size: 20px;
}