/* Global Styling */

@font-face {
    font-family: 'Alegreya-Regular';
    src: url('../fonts/Alegreya_SC/AlegreyaSC-Regular.ttf');
    font-family: 'Alegreya-Bold';
    src: url('../fonts/Alegreya_SC/AlegreyaSC-Bold.ttf');
    font-family: 'Nixie-Regular';
    src: url('../fonts/NixieOne-Regular.ttf');
    font-family: 'Alegreya-Sans-Medium';
    src: url('../fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --white-color: white;
    --font-color-green: rgba(58, 79, 82, 1);
    --font-color-gray: rgba(106, 106, 106, 1);
    --button-color: rgba(58, 79, 82, 1);
    --image-color: rgba(2, 56, 58, 0.7);
    --image-color-black: rgba(0, 0, 0, 0.2);
    --small-button-color: rgba(77, 167, 202, 1);
    --footer-background: rgba(43, 62, 81, 1);
}

/* Min-Width at 320px */

html {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 320px;
}

/* Styling of body with Flex */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
}

/* General Stylings of background image sections with flex */

.general__styling__bg__img {
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    flex-shrink: 0;
}

/* Black transparent background on section (services, free__quote and contact */

.black__transparent__bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: rgba(128, 128, 128, 0.354);
    padding: 5px 35px;
    text-align: center;
}

/* Paragraphs with grey color */

.paragraph__grey {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: var(--font-color-gray);
    margin-bottom: 20px;
}

/* Styling Header with background image */

header {
    flex-direction: column;
    justify-content: flex-start;
    height: 447px;
    padding: 20px 30px;
    background-image: url('../img/0f6f55ffff18a259b1383b2fd9d785aa.png');
    gap: 99px;
}

/* Header with Flex and width: 100% of the body */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Styling of logo */

.logo {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: 'Alegreya-Bold';
    font-weight: bolder;
}

/* Styling of burger-menu */

.burger__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger{
    height: 2px;
    width: 24px;
    background-color: var(--white-color);
    margin: 2px;
    border-radius: 5px;
}

/* Styling of Landingpage head with h1 and description p */

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    color: var(--white-color);
}

.landing-page h1 {
    font-family: 'Nixie-Regular';
    font-size: 39px;
    font-weight: lighter;
}

.landing-page p {
    font-family: 'Alegreya-Regular';
    font-size: 16px;
    font-weight: 400;
}

/* Main-part */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Section 1 and 4 with portfolio and button to view all */

.portfolio {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 20px 0 50px 0;
}

.portfolio div h2 {
    font-family: 'Alegreya-Sans-Medium';
    color: var(--font-color-green);
    font-size: 36px;
    font-weight: 100;
    margin-bottom: 20px;
}

.portfolio div p {
    font-size: 16px;
}

.portfolio a button {
    background-color: transparent;
    padding: 10px 15px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: var(--button-color);
    border: 1px solid var(--button-color);
    cursor: pointer;
}

.portfolio a {
    margin: -15px 0 0 -30px;
}

/* Section 2 with 6 images, each with a button in the center of the image  */

.picture__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 100px;
}

.picture__section div {
    background-color: var(--image-color);
    height: 205.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture__section img {
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.picture__section button {
    padding: 7px 10px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    margin-left: -220px;
    cursor: pointer;
}

/* Service section (3) with background image and icons with description on top */

.services {
    background-image: url('../img/8d72e0af708f1d83a868ba81ee657811.png');
    height: 700px;
}

.services__background div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
}

.services__background div img {
    width: 50px;
    height: 50px;
}

.services__headline {
    margin-top: 20px;
    margin-bottom: 30px;
}

.services__headline h2, .contact h2 {
    font-family: 'Alegreya-Sans-Medium';
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 4px;
}

.services__content {
    margin-bottom: 20px;
}

.services__content h3 {
    font-family: 'Alegreya-Sans-Medium';
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 5px;
}

.services__content p, .contact p {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
}

/* Section 5: examples with flex. Examples consisting of an image, h2, date, description and a link for more information */

.examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 100px;
}

.examples img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 50px;
}

.examples h2 {
    font-family: 'Alegreya-Sans-Medium';
    font-size: 30px;
    color: var(--font-color-green);
    font-weight: 100;
    margin: 20px 0;
}

.date {
    font-style: italic;
}

.examples article a {
    color: var(--small-button-color);
}

/* Section 6: Free quotes with background image, a description and a free quote button */

.free__qoute {
    background-image: url('../img/6f4d0914c7b5ddb743f600df2edc50bf.png');
    height: 700px;
}

.free__qoute__bg {
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.free__qoute__bg p {
    color: var(--white-color);
    font-size: 36px;
    font-family: 'Alegreya-Sans-Medium';
}

.free__qoute__bg button {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    cursor: pointer;
    font-size: 20px;
}

/* Section 7: Testimonials with flex */

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 40px 80px 40px;
    gap: 35px;
}

.testimonials h2 {
    margin-bottom: -20px;
    font-family: 'Alegreya-Sans-Medium';
    font-size: 36px;
    color: var(--font-color-green);
}

.testimonials__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.bold {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
}

/* Contact Form with name and email required, a textarea and a submit button*/

form {
    padding-bottom: 40px;
}

.contact {
    background-image: url('../img/contact.png');
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.contact h2, .contact p {
    color: var(--white-color);
}

.contact__name__mail, .contact__text {
    width: 345px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 5px;
}

.contact__name__mail {
    height: 34px;
}

.contact__text {
    height: 54px;
}

::placeholder {
    color: var(--white-color);
    padding-left: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

textarea::placeholder {
    padding-top: 5px;
}

.input__button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    cursor: pointer;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

/* Footer with Backgroundcolor of var:footer */

footer {
    width: 100%;
    height: 160px;
    background-color: var(--footer-background);
}

footer p {
    color: var(--white-color);
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 14px;
    margin: 40px 0 0 20px;
    width: 150px;
}